node_modules

# Next.js build output and local caches
.next/
.next-dev.log
.next-dev.err.log
out/

# Local env files
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
